<section id="team" class="py-5">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between my-5">
          <p class="text-left text-black fs-3">検索結果</p>
          <p class="text-right my-2" style="color:#2146c7;text-decoration:underline;">すべてのホテルを見る</p>
        </div>
      </div>

      <div class="row">
        <% @results.each do |hotel| %>
            <div class="col-md-6 my-2">
              <div class="register_hotel card card-skin">
                <div class="card__imgframe" style="background-image: url('<%= image_url(hotel.image) %>')"></div>
                <div class="card__textbox">
                  <div class="card__titletext">
                    <%= hotel.title %>
                  </div>
                  <p class="text-secondary"><%= hotel.address %></p>
                  <div class="card__overviewtext">
                    <%= hotel.describe %>
                  </div>
                  <p class="text-secondary small" style="font-size: 6px;">#<%= hotel.category %></p>
                </div>
              </div>
            </div>
        <% end  %>
      </div>
      
      <hr class="my-4">
        <p class="text-center" style="color:#2146c7;">すべてのホテルをみる</p>
      <hr class="my-4">
    </div>
  </section>